
mat-toolbar{
    min-height: 10vh;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-right: 5%;
}

#header-title {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    padding-left: 3%;
    align-items: center;
}

#header-title-sm {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    padding-left: 5%;
    align-items: center;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    width: 100%;
}

mat-toolbar .mat-icon {
    font-size: 50px;
}

ul { 
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


a, a button {
    text-decoration: none;
    color: white;
    font-size: 20px;
}



/* push to the right */
.spacer {
    flex: 1 1 auto;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

/*tablet breakpoint*/
@media (max-width: 1400px) { 
    #lg-scr {
        display: none;
    }
}

/*mobile breakpoint*/
@media (min-width: 1400px) {
    #sm-scr {
        display: none;
    }
}