
<div class="">


  <div class="col-lg-12">

    <!-- main banner -->
    <div class="row">

      <!-- user to select size and see plants added -->
      <div class="radio col-lg-12 "> <!-- new garden input -->

        <!-- size sliders and name row -->
        <div class="row top-container">
          <!-- slider to choose xGardenMax, yGardenMax -->
          <div class="col-6">
            <div class="row">

              <!-- slider to choose xGardenMax -->
              <div class="col-4">
                <h3>Width: {{xGardenMax}} ft</h3>
                <mat-slider 
                  #xGarden
                  thumbLabel
                  tickInterval="1"
                  [(ngModel)]="xGardenMax" min="1" max="4" step="1"
                  [disabled]="xGardenDisable" ></mat-slider>
              </div>

              <!-- slider to choose yGardenMax -->
              <div class="col-4">
                
                <h3>Length: {{yGardenMax}} ft</h3>
                <mat-slider 
                  #yGarden
                  thumbLabel
                  tickInterval="1"
                  vertical
                  invert
                  [(ngModel)]="yGardenMax"  min="1" max="8" step="1"
                  [disabled]="yGardenDisable" ></mat-slider>
              </div>

              <!-- slider to choose growthModifier -->
              <div class="col-4" 
                matTooltip="Adjust for poor soil conditions or lack of sunlight."
                matTooltipPosition="above"
              >
                <h3>Growing conditions: {{growthModifier * 100}}%</h3>
                <mat-slider 
                  #yGarden
                  thumbLabel
                  tickInterval=".1"
                  [(ngModel)]="growthModifier"  min=".5" max="1" step=".1"
                  ></mat-slider>
              </div>

            </div>
          </div>
          <!-- Garden name input form -->
          <div class="col-6">
            <h2>Name this garden:</h2>
            <input type="text" class="form-control" #name 
              required
              [(ngModel)]="gardenName" >

            <a routerLink="/gardens">
              <button mat-raised-button color="accent"
                class="mt-1 plant-btn"
                (click)="postToDb()"
                (click)="canSave()"
                (click)="resetProgress()"
                [disabled]="saveDisable"

                >Save</button>
            </a>

          </div>
          <!-- plant list -->
          <div class="col-12 plant-list">

            <!-- Plant type option list -->
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              [(ngModel)]="favoritePlantType">
              <mat-radio-button class="radio-button" *ngFor="let types of plantTypes" [value]="types">
                {{types | titlecase}}
              </mat-radio-button>
            </mat-radio-group>

            <!-- Plant season option list -->
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="radio-button" *ngFor="let season of seasons" [value]="season">
                {{season | titlecase}}
              </mat-radio-button>
            </mat-radio-group>

            <!-- Veggies -->
            <div class="row" *ngIf="favoritePlantType === 'vegatables' ">
              <div class="col-4 " *ngFor="let item of vegatablesArr; index as i">
                <button mat-raised-button color="primary" class="mb-3"
                  (click)="this.totalPossiblePlants()"
                  (click)="this.calculateProgress()"
                  (click)="addToGarden(i, 'vegatables')" 
                  (click)="correctColumns()" 
                  (click)="addToProgressBar()"
                  (click)="disableGardenMax()"
                  (click)="canSave()"
                  [disabled]="disableAddPlants"
                >
                  <div *ngIf="item.season.includes(favoriteSeason)">
                    {{item.plant | titlecase}}
                  </div>
                  
                </button>
              </div>
            </div>

            <!-- Herbs -->
            <div class="row" *ngIf="favoritePlantType === 'herbs'">
              <div class="col-4 " *ngFor="let item of herbsArr; index as i">
                <button mat-raised-button color="primary" class="mb-3"
                  (click)="this.totalPossiblePlants()"
                  (click)="this.calculateProgress()"
                  (click)="addToGarden(i, 'herbs')" 
                  (click)="correctColumns()" 
                  (click)="addToProgressBar()"
                  (click)="disableGardenMax()"
                  (click)="canSave()"
                  [disabled]="disableAddPlants"
                >
                  <div *ngIf="item.season.includes(favoriteSeason)">
                    {{item.plant | titlecase}}
                  </div>
                </button>
              </div>
            </div>

            <!-- Flowers -->
            <div class="row" *ngIf="favoritePlantType === 'flowers'">
              <div class="col-4 " *ngFor="let item of flowersArr; index as i">
                <button mat-raised-button color="primary" class="mb-3"
                  (click)="this.totalPossiblePlants()"
                  (click)="this.calculateProgress()"
                  (click)="addToGarden(i, 'flowers')" 
                  (click)="correctColumns()" 
                  (click)="addToProgressBar()"
                  (click)="disableGardenMax()"
                  (click)="canSave()"
                  [disabled]="disableAddPlants"
                >
                  <div *ngIf="item.season.includes(favoriteSeason)">
                    {{item.plant | titlecase}}
                  </div>
                </button>
              </div>
            </div>

          </div><!-- plant list -->

        </div>
      


        <!-- Creates a garden bed -->
        <div class="row raised-bed">
          
          <!-- progress bar -->
          <div class="progress-container col-12">
            <h4>
              <div>Progress {{progress | number: '1.0-0'}} %   </div>

              <button mat-raised-button color="accent" (click)="resetProgress()">Reset Progress</button>
            </h4>
            <!-- Progress bar -->
            <mat-progress-bar mode="determinate" [value]="progress" min="0"></mat-progress-bar><br>
          </div>

          <!-- 
            
            Displays the number of columns based on user input 
          
          -->

          <mat-grid-list [cols]="xGardenMax" rowHeight="1:1" >

            <mat-grid-tile>
              <!-- displays only when col 1 is displayed -->
              <div class="col-3 raised-bed-col" >
                <icon-seedling></icon-seedling>
                <div 
                  cdkDropList 
                  #colOne="cdkDropList"
                  [cdkDropListData]="firstCol"
                  class="example-list" 
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" 
                    *ngFor="let item of firstCol" 
                    cdkDrag
                    popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                    [outsideClick]="true"
                  >
                        {{item.plant}}
                  </div>
                </div>
                  <div *ngIf="firstCol.length > 0">
                    <button 
                      mat-raised-button color="warn" 
                      class="mt-1"
                      (click)="clearColumn(firstCol)" 
                      (click)="calculateProgress()"
                    >Remove Column</button>
                  </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="xGardenMax >= 2">
              <!-- displays only when col 2 is displayed -->
              <div class="col-3 raised-bed-col" >
                <icon-seedling></icon-seedling>
                <div 
                  cdkDropList 
                  #colTwo="cdkDropList"
                  [cdkDropListData]="secondCol"
                  class="example-list" 
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" 
                    *ngFor="let item of secondCol" 
                    cdkDrag
                    popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                    [outsideClick]="true"
                  >
                        {{item.plant}}
                  </div>
                </div>
                  <div *ngIf="secondCol.length > 0">
                    <button 
                      mat-raised-button color="warn" 
                      class="mt-1"
                      (click)="clearColumn(secondCol)" 
                      (click)="calculateProgress()"
                    >Remove Column</button>
                  </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="xGardenMax >= 3">
              <!-- displays only when col 3 is displayed -->
              <div class="col-3 raised-bed-col" >
                <icon-seedling></icon-seedling>
                <div 
                  cdkDropList 
                  #colThree="cdkDropList"
                  [cdkDropListData]="thirdCol"
                  class="example-list" 
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" 
                    *ngFor="let item of thirdCol" 
                    cdkDrag
                    popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                    [outsideClick]="true"
                  >
                        {{item.plant}}
                  </div>
                </div>
                  <div *ngIf="thirdCol.length > 0">
                    <button 
                      mat-raised-button color="warn" 
                      class="mt-1"
                      (click)="clearColumn(thirdCol)" 
                      (click)="calculateProgress()"
                    >Remove Column</button>
                  </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="xGardenMax >= 4">
              <!-- displays only when col 4 is displayed -->
              <div class="col-3 raised-bed-col" >
                <icon-seedling></icon-seedling>
                <div 
                  cdkDropList 
                  #colFour="cdkDropList"
                  [cdkDropListData]="fourthCol"
                  class="example-list" 
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" 
                    *ngFor="let item of fourthCol" 
                    cdkDrag
                    popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                    [outsideClick]="true"
                  >
                        {{item.plant}}
                    </div>
                </div>
                  <div *ngIf="fourthCol.length > 0">
                    <button 
                      mat-raised-button color="warn" 
                      class="mt-1"
                      (click)="clearColumn(fourthCol)" 
                      (click)="calculateProgress()"
                    >Remove Column</button>
                  </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div><!-- end of plant columns -->
      </div>

    </div><!-- end of main banner -->

  </div>

</div><!-- container-fluid-->
