* {
  box-sizing: border-box;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.92);
  border: 3px solid white;
  box-shadow: 0 0 30px black;
  border-radius: 25px;
  padding: 5%;
  margin: 3% 5%;
}

.main-banner {
  width: 100vh;

  background-color: black;
}

h3 {
  font-weight: 500;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3em;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  
}

.columns {
  column-width: 200px;
  max-width: 800px;
  margin: 0 auto;
}


.radio {
  width: 100%;
  height: 70vh;
  padding: 2rem;
  align-items: center;
  text-align: center;
  color: black;
}

.raised-bed-col{
  height: 20vh;

  padding-top: 0%;
  width: 90%;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.plant-list{
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.example-list {

  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 40px;
  display: block;
  background: white;
  border-radius: 4px;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.user-add {
  background: grey;
}

.plant-btn {
  width: 50px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
