
<div class="main-container">
    <div class="row">
        <div class="col-12" >
            <h1 class="text-center" id="title">Signup</h1>
            <p><span class="bold red">Disclaimer</span>: Yields are dependant on various factors. This app is to only serve as a guide or a reference. 
                This app is also still in development, by one developer. I may have to wipe the database to add upcoming features.
                This is your warning. By signing up below you agree to my terms and conditions, which may change without notice. </p>
        </div>
    </div>
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- template driven form-->
    <form (submit)="onSignUp(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field color="primary">
            <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
            <mat-label>Email</mat-label>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
    
    
        <mat-form-field  color="primary">
            <mat-label>Password</mat-label>
            <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>

        <button
            mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Sign Up
        </button>
        
    </form>
  
  </mat-card>
</div>
