
<div class="main-container">

    <div class="row">
        <div class="col-12" >
            <h1 class="text-center" id="title">About</h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 col-md-12 center">
            <mat-card class="founder-card ">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Alex Paige</mat-card-title>
                  <mat-card-subtitle>Founder  - Developer - Designer - QA Engineer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/AlexDeagan.jpg" alt="Photo of developer and son">
                <mat-card-content>
                    <p>
                        A self tought developer and gardener enthusiast. I built this application in my spare time between raising a son, working full time, and learning programming.
                        During this time I have learned some of the ins and outs of using Angular and NodeJS/express. 
                        This project originally was going to be pretty small and only be used by myself, but it snowballed.
                        I realized it doesn't take much of a yard to produce more veggies than my family could eat.
                    </p>
                </mat-card-content>
              </mat-card>
        </div>
    
        <div class="col-lg-6 col-md-12 goals-container">
            <div class="row center">
                <div class="col-12 center mt-3">
                    <img class="images hide-when-md" src="../../assets/img/radish.jpg" alt="fresh radish">
                </div>
                <div class="col-12 center mt-3">
                    <p>
                        My goal is to help people grow more of their own food and be less dependant on the global supply chain. The average head of lettuce travels 3,000 miles... Can you belive that?
                        How many pesticides are on that same head of lettuce? Is the industrial farm using best practices to not damage the land long term? 
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row center">
        <div class="col-lg-3 col-md-12 center">
            <img class="images" src="../../assets/img/cayenne.jpg" alt="Spicy pepper">
        </div>
        <div class="col-lg-9 col-md-12">
            <h2>Background</h2>
            <p>Grid Gardening(GG) uses a gardening technique called square foot gardening (SFG). 
                This technique was first popularized by Mel Bartholomew, a retired engineer that saw ineffieciencies in traditional gardening.
                Square foot gardening is simply planting a number of crops inside 1 foot areas in a raised bed. 
                The benefit to this is that more crops can be grown in a smaller area, with less resources, and more importantly, less time pulling weeds.
                This revolutionary new way to garden does take a little more work up front to build raised beds (and good soil) but it pays off 10 fold months into the growing season.
            </p>
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-9 col-md-12 ">
            <h2>Why square foot gardening</h2>
            <p>
                Using SFG, someone can grow more crops in a smaller area, with less resources. You can grow anything that traditional gardeners can grow, but more of it per foot of soil. 
                Results will vary wildy but on average raised beds hold water better so less watering is needed. This is a great way for beginers and masters alike. 
                I encourage everyone I meet to give it a try and see what happens. You might be surprised.
            </p>
        </div>
        <div class="col-lg-3 col-md-12 center ">
            <img class="images" src="../../assets/img/diagonalGarden.jpg" alt="Square foot garden">
        </div>
    </div>

    

    
</div>
