
<div class="row container">

    <div class="col-lg-6 col-md-12 center">
        <mat-card class="founder-card ">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Alex Paige</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/AlexDeagan.jpg" alt="Photo of developer and son">
            <mat-card-content>
                <p>
                    A self tought developer and gardener enthusiast. I built this application in my spare time between raising a son, working full time, and learning programming.
                    During this time I have learned some of the ins and outs of using Angular and NodeJS/express. 
                    This project originally was going to be pretty small and only be used by myself, but it snowballed.
                    I realized it doesn't take much of a yard to produce more veggies than my family could eat.
                    It quickly became all I wanted to work on and I wanted to share it with the world.
                </p>
            </mat-card-content>
          </mat-card>
    </div>

    <div class="col-lg-6 col-md-12 goals-container">
        <p>
            My goal is to help people grow more of their own food and be less dependant on the global supply chain. The average head of lettuce travels 3,000 miles... Can you belive that?
            How many pesticides are on that same head of lettuce? Is the industrial farm using best practices to not damage the land long term? 
            Some times the answers are the ones I'd like to hear; many times, they are not. 
            What if everyone in your neighborhood grew a small portion of their own vegetables? Multiply that by every forward thinking neighborhood in the world.

            I may not be able to solve every problem in the world but I built this small piece of softawre to help. 
            If I only help a handful of people grow some food than I will be happy.
        </p>
    </div>

    <div class="col-lg-3 col-md-12 center">
        <img class="images" src="../../assets/img/radish.jpg" alt="fresh radish">
    </div>

    
</div>

<div class="row container">
    
</div>