.main-container {
    background-color: rgba(255, 255, 255, 0.92);
    border: 3px solid white;
    box-shadow: 0 0 30px black;
    border-radius: 25px;
    padding: 5%;
    margin: 3% 5%;
}

.founder-card {
    max-height: 100%;
    max-width: 400px;
    
}

.header-image {
    background-image: url('../../assets/img/Alex.jpg');
    background-size: cover;
}

.full-width {
    width: 100%;
}


.goals-container {
    display: flex; /* or inline-flex */
    align-items: center;
}

.center {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-around;
}


.images{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}
