


.card-container {
    min-width: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;

    background-color: burlywood;
    min-width: 340px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
}

.card-header {
    width: 100%;
    justify-content: space-around;
    min-width: 160px;
}



.card-notes {
    background-color: lightblue;
} 
