
<div *ngIf="harvest">
    <div class="row">
        <div class="col-12">
            <div id="average-quality" class="text-center mt-3">
                <h1>Average Quality</h1>
                <h3>{{averageQuality | number : '1.2-2'}} / 5</h3>
                <button (click)="plantTotals()">
                    Plant totals func
                </button>
            </div>
        </div>
    </div>

    <div class="card-container" *ngFor="let plant of nameArr; index as i">
        <mat-card class="plant-card">
            <mat-card-header>
              <mat-card-title>{{plant}}</mat-card-title>
              <mat-card-subtitle>{{totalsArr[i]}}</mat-card-subtitle>
            </mat-card-header>
    
            <mat-card-content>
                <div>
                    <mat-icon color="accent">
                        {{ returnStar(0, qualityArr[i]) }}
                    </mat-icon>
                    <mat-icon color="accent">
                        {{ returnStar(1, qualityArr[i]) }}
                    </mat-icon>
                    <mat-icon color="accent">
                        {{ returnStar(2, qualityArr[i]) }}
                    </mat-icon>
                    <mat-icon color="accent">
                        {{ returnStar(3, qualityArr[i]) }}
                    </mat-icon>
                    <mat-icon color="accent">
                        {{ returnStar(4, qualityArr[i]) }}
                    </mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>

<div *ngIf="!harvest">
    <div>
        <h1>
            No Harvests were found
        </h1>
    </div>
</div>



