

.main-container {
    background-color: rgba(255, 255, 255, 0.92);
    border: 3px solid white;
    box-shadow: 0 0 30px black;
    border-radius: 25px;
    padding: 5%;
    margin: 3% 5%;
}

.card-container {
    min-width: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;

    background-color: burlywood;
    min-width: 340px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
}

.card-header {
    width: 100%;
    justify-content: space-around;
    min-width: 160px;
}



.card-notes {
    background-color: lightblue;
} 
