
  
.utility-container{

    width: 100%;
}

.center {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}

.card {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}

.saved-garden-grid {
    align-items: stretch;
    justify-content: center;
    min-width: 100%;
    padding-bottom: 0%;
    height: 100%;
}

.saved-garden-column {
    
    width: 24%;
    height: 100%;
    align-items: stretch;
    text-align: center;
    justify-content: space-around;
}

.card-container {
    
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px #964B00;
    background-color: #C46200;
    color: white;
    
}

.card-header {
    display: flex;
    justify-content: space-between;
}


.progress-bar-margin {
    margin: 10px 0;
}

.progress-wrapper {
    margin: 0 auto;
}

/* progress bar custom colors */
::ng-deep .mat-progress-bar-fill::after {
    background-color: #32a852;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.garden-info {
    margin: 10px 0;
}

.clear-options {
    margin: 10px 0;
}

.margin-left{
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

mat-card {
    height: 150px;
}