
  
.utility-container{

    width: 100%;
}


.card {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.saved-garden-grid {
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 100%;
    padding-bottom: 0%;

}

.saved-garden-column {
    
    width: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}


.progress-bar-margin {
    margin: 10px 0;
}

/* progress bar custom colors */
::ng-deep .mat-progress-bar-fill::after {
    background-color: #32a852;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.garden-info {
    margin: 10px 0;
}

.clear-options {
    margin: 10px 0;
}

.margin-left{
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.parent{
    background-image: url('../../assets/img/onion.jpg');
  }