


<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="jumbotron">
            <h1 class="display-4">User Gardens</h1>
            <p class="lead">This is where you can see saved garden designs and print them out!</p>
            <hr class="my-4">
            <p>If the print preview shows uneven rows or any weird behavior, set the print margins to none.</p>
            <p>Print margins will be under "more settings" >> "margins" select none </p>
            <button
                class="btn btn-success"
                [useExistingCss]="true"
                printSectionId="print-section"
                ngxPrint>

                Print Garden Layout

            </button>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <!-- filter and sort -->
        <div class="mt-3 container utility-container">

            <div class="form-group ">
              <div class="col-12">
                  <label class="mt-3" for="gardens">Select A Garden</label>
                  <select class="form-control" id="gardens"
                      (click)="getEachGardenNameOnce()" (click)="removeDuplicates(gardenNames)"

                      required
                      [(ngModel)]="Garden" name="gardens"
                      #gardens="ngModel"
                      placeholder="filter here">
                  <option *ngFor="let singleGarden of singleGardenNames" [value]="singleGarden">{{singleGarden}}</option>
                  </select>
                  <div class="clear-options">
                    <button mat-raised-button color="primary" (click)="onGardenFilterClear()">Clear</button>
                    <button mat-raised-button color="warn" class="margin-left" (click)="deleteAllPlants()">Delete All</button>
                  </div>
                  
              </div>
              <div class="col-2">
                  <div class="row">

                      
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</div>









<!-- get back saved data -->
<!-- display a user's garden in rows/columns they entered-->
<!-- 4 column layout for saved gardens -->

<!-- TODO:// overflow is on scroll, weird but works for now-->
<div class="row saved-garden-grid pt-4" id="print-section">
  <div class="col-12" >
    <div *ngIf="Garden" class="garden-info">
      <h1>Garden Name: {{Garden | titlecase}}</h1>
      <button mat-raised-button color="accent" (click)="deleteGarden(Garden)">Delete Garden</button>
    </div>
    
  </div>
  <!-- col 1 only-->
  <div class="saved-garden-column" style="background-color:#aaa;" >
    <div *ngFor="let plant of plants
      | filter: Garden :'garden'
      | sort: ['col'] : ['garden']
      | sort:[SortByParam, SortDirection]">
    
      <!-- display first column -->
      <mat-card *ngIf="plant.col == 1" class="card-container">
        <mat-card-header class="card-header">
          <mat-card-title>{{plant.plant | titlecase}}</mat-card-title>
          <mat-card-subtitle>x {{plant.perFoot}}</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openMoreInfo(plant._id)">More Info</button>
        </mat-card-header>
        <mat-card-content>
          <!-- displays green bar if ready to harvest -->
          <div *ngIf="plant.progressToHarvest == 100">
            <mat-progress-bar
              class="progress-bar-margin"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
          <div *ngIf="plant.progressToHarvest != 100">
            <mat-progress-bar
              class="progress-bar-margin"
              [color]="color"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <!-- col 2 only-->
  <div class="saved-garden-column" style="background-color:#aaa;">
    <div *ngFor="let plant of plants
      | filter: Garden :'garden'
      | sort: ['col'] : ['garden']
      | sort:[SortByParam, SortDirection]">
    
      <!-- display second column -->
      <mat-card *ngIf="plant.col == 2" class="card-container">
        <mat-card-header class="card-header">
          <mat-card-title>{{plant.plant | titlecase}}</mat-card-title>
          <mat-card-subtitle>x {{plant.perFoot}}</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openMoreInfo(plant._id)">More Info</button>
        </mat-card-header>
        <mat-card-content>
          <!-- displays green bar if ready to harvest -->
          <div *ngIf="plant.progressToHarvest == 100">
            <mat-progress-bar
              class="progress-bar-margin"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
          <div *ngIf="plant.progressToHarvest != 100">
            <mat-progress-bar
              class="progress-bar-margin"
              [color]="color"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- col 3 only-->
  <div class="saved-garden-column" style="background-color:#aaa;">
    <div *ngFor="let plant of plants
      | filter: Garden :'garden'
      | sort: ['col'] : ['garden']
      | sort:[SortByParam, SortDirection]">
    
      <!-- display third column -->
      <mat-card *ngIf="plant.col == 3" class="card-container">
        <mat-card-header class="card-header">
          <mat-card-title>{{plant.plant | titlecase}}</mat-card-title>
          <mat-card-subtitle>x {{plant.perFoot}}</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openMoreInfo(plant._id)">More Info</button>
        </mat-card-header>
        <mat-card-content>
          <!-- displays green bar if ready to harvest -->
          <div *ngIf="plant.progressToHarvest == 100">
            <mat-progress-bar
              class="progress-bar-margin"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
          <div *ngIf="plant.progressToHarvest != 100">
            <mat-progress-bar
              class="progress-bar-margin"
              [color]="color"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- col 4 only-->
  <div class="saved-garden-column" style="background-color:#aaa;">
    <div *ngFor="let plant of plants
      | filter: Garden :'garden'
      | sort: ['col'] : ['garden']
      | sort:[SortByParam, SortDirection]">
    
      <!-- display fourth column -->
      <mat-card *ngIf="plant.col == 4" class="card-container">
        <mat-card-header class="card-header">
          <mat-card-title>{{plant.plant | titlecase}}</mat-card-title>
          <mat-card-subtitle>x {{plant.perFoot}}</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openMoreInfo(plant._id)">More Info</button>
        </mat-card-header>
        <mat-card-content>
          <!-- displays green bar if ready to harvest -->
          <div *ngIf="plant.progressToHarvest == 100">
            <mat-progress-bar
              class="progress-bar-margin"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
          <div *ngIf="plant.progressToHarvest != 100">
            <mat-progress-bar
              class="progress-bar-margin"
              [color]="color"
              mode="determinate" 
              [value]="plant.progressToHarvest">
            </mat-progress-bar>
            <p>Progress: {{ plant.progressToHarvest }} %</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</div><!-- 4 column layout for saved gardens-->