

mat-form-field,
textarea {
  width: 100%;

}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.img-prev {
  height: 5rem;
  margin: 1rem 0;
}

.img-prev img {
  max-height: 100%;
}

#back-btn {
  margin: 10px;
  padding-bottom: 2%;
}