
<!-- center this -->
<div *ngIf="singlePlant">
    <h1>{{ singlePlant.plant | titlecase}}</h1>
    <h4>Growing Season: {{ singlePlant.season }}</h4>
    <h4>Date Planted: {{ singlePlant.datePlanted | date : 'shortDate'}} 
        <!-- open date picker -->
        <button mat-raised-button color="primary" (click)="editPlant()">Edit</button>
    </h4>
    <h4>Potential Days Until Harvest: {{ singlePlant.daysLeftToHarvest }}</h4>
    <h4>Number Per Foot: {{ singlePlant.perFoot }}</h4>
</div>




<button mat-raised-button color="primary" (click)="updatePlant()" (click)="closeInfo()">Save</button>
<button mat-raised-button color="warn" (click)="closeInfo()">Close</button>
