.progress-bar-margin {
    margin: 10px 0;
}

.ml {
    margin-left: 10px;
}

.radio-buttons {
    margin: 10px;
}


input, label {
    display:block;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
border-left: 5px solid #a94442; /* red */
}

.margin-auto {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;

}

.top-margin {
    margin-top: 15%;
}

.harvest-button-parent {
    display: flex;
}

.input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}