
<div *ngIf="singlePlant">

    <!-- Plant Title -->
    <mat-dialog-title>
        <div *ngIf="!editPlant && !harvestPlantBool">
            <h1>
                {{ singlePlant.plant | titlecase}}

                <button
                    (click)="toggleEditPlant()"
                    (click)="saveId()"
                    class="ml"
                    mat-raised-button  
                    color="primary">
                    Replace
                </button>

                <button
                    *ngIf="singlePlant.plant !== 'empty' "
                    (click)="toggleHavestOptions()"
                    (click)="setHarvestParams()"
                    (click)="saveId()"
                    class="ml"
                    mat-raised-button  
                    color="primary">
                    Harvest
                </button>
                
            </h1>
        </div>
        
    </mat-dialog-title>

    <!-- Plant Data -->
    <mat-dialog-content>

        <!-- Displays in normal state-->
        <div *ngIf="!editPlant && !harvestPlantBool">
            <mat-progress-bar
            class="progress-bar-margin"
            mode="determinate" 
            [value]="singlePlant.progressToHarvest">
            </mat-progress-bar>
            <h4>Planting Season: {{ singlePlant.season | titlecase}}</h4>
            <h4>Number Per Foot: {{ singlePlant.perFoot }}</h4>
            <h4>Plant type: {{ singlePlant.plantType | titlecase}}</h4>
            <h4>Multiple Harvests: {{ singlePlant.multiHarvest | yesNo }}</h4>
            <h4>Date Planted: {{ singlePlant.datePlanted | date : 'shortDate'}} </h4>
            <div *ngIf="hideDatePicker">
                <h4>
                    <button class="pl-3" mat-raised-button (click)="toggleHideDatePicker()" color="primary" >Edit</button>
                </h4>
            </div>
            <div *ngIf="!hideDatePicker">
                <h4>Update date planted</h4>
                
                <mat-form-field>
                    <input matInput [matDatepicker]="myDatePicker" [(ngModel)]="newDate">
                    <mat-datepicker-toggle [for]="myDatePicker" matSuffix ></mat-datepicker-toggle>
                    <mat-datepicker #myDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <h4>Growing Conditions: {{singlePlant.growthModifier * 100}} %</h4>
            <!-- Show and hide growth conditions slider -->
            <div *ngIf="hideGrowthModifier">
                <button mat-raised-button (click)="toggleHideGrowthModifier()" color="primary" class="mb-3">Change Growth Conditions Modifier</button>
            </div>
            <div *ngIf="!hideGrowthModifier">
                <mat-slider 
                    thumbLabel
                    tickInterval=".1"
                    [(ngModel)]="singlePlant.growthModifier"  min=".5" max="1" step=".1"
                ></mat-slider>
            </div>
            <h4>Days left until harvest: {{singlePlant.daysLeftToHarvest}}</h4>
            <h4>Days to harvest (from seed): {{singlePlant.daysToHarvest}}</h4>
            <h4>Harvest on this date: {{ singlePlant.dateToHarvest | date: 'shortDate'}}</h4>
        </div>

        <!-- Displays in Replace state -->
        <div *ngIf="editPlant">
            <button
                (click)="toggleEditPlant()"
                class="ml"
                mat-raised-button  
                color="primary">
                Back
            </button>
            <h3>Pick a new plant to replace the current one</h3>
            <!-- create drop downs to pick a new plant-->
            <div class="row">
                <h4>Growing Conditions: {{singlePlant.growthModifier * 100}} %</h4>
                <mat-slider 
                    thumbLabel
                    tickInterval=".1"
                    [(ngModel)]="singlePlant.growthModifier"  min=".5" max="1" step=".1"
                ></mat-slider>
            </div>
            <div class="row radio-buttons">
                <!-- Plant type option list -->
                <mat-radio-group
                  aria-labelledby="radio-group-label"
                  class="radio-group "
                  [(ngModel)]="favoritePlantType">
                  <mat-radio-button 
                    class="radio-button radio-buttons" 
                    *ngFor="let types of plantTypes" 
                    [value]="types"
                    (click)="resetSeasonSelector()">
                    {{types | titlecase}}
                  </mat-radio-button>
                </mat-radio-group>
  
                <!-- Plant season option list -->
                <mat-radio-group
                  aria-labelledby="radio-group-label"
                  class="radio-group"
                  [(ngModel)]="favoriteSeason">
                  <mat-radio-button 
                    class="radio-button radio-buttons" 
                    *ngFor="let season of seasons" 
                    [value]="season"
                    (click)="resetSeasonSelector()">
                    {{season | titlecase}}
                  </mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- Veggies -->
            <div class="row" *ngIf="favoritePlantType === 'vegatables' ">
                <mat-form-field appearance="fill">
                <mat-label>{{singlePlant.plant}}</mat-label>
                <mat-select 
                    [(ngModel)]="singlePlant" 
                    (click)="getSelectedSeason(vegatablesArr, favoriteSeason)">
                    <mat-option *ngFor="let veggie of filteredArr" [value]="veggie">
                        <!-- only display if correct planting season -->
                        <div *ngIf="veggie.season.includes(favoriteSeason)" >
                            <!-- get rid of empty indexes in array -->
                            {{veggie.plant | titlecase}}
                        </div>
                        
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

            <!-- Herbs -->
            <div class="row" *ngIf="favoritePlantType === 'herbs' ">
                <mat-form-field appearance="fill">
                <mat-label>{{singlePlant.plant}}</mat-label>
                <mat-select 
                    [(ngModel)]="singlePlant" 
                    (click)="getSelectedSeason(herbsArr, favoriteSeason)">
                    <mat-option *ngFor="let herb of filteredArr" [value]="herb" >
                        <!-- only display if correct planting season -->
                        <div *ngIf="herb.season.includes(favoriteSeason)" >
                            <!-- get rid of empty indexes in array -->
                            {{herb.plant | titlecase}}
                        </div>
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

            <!-- Flowers -->
            <div class="row" *ngIf="favoritePlantType === 'flowers' ">
                <mat-form-field appearance="fill">
                <mat-label>{{singlePlant.plant}}</mat-label>
                <mat-select 
                [(ngModel)]="singlePlant" 
                (click)="getSelectedSeason(flowersArr, favoriteSeason)">
                    <mat-option *ngFor="let flower of filteredArr" [value]="flower">
                        <!-- only display if correct planting season -->
                        <div *ngIf="flower.season.includes(favoriteSeason)" >
                            <!-- get rid of empty indexes in array -->
                            {{flower.plant | titlecase}}
                        </div>
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

        </div>

        <!-- Displays in Harvest state -->
        <div *ngIf="harvestPlantBool">
            <button
                (click)="toggleHavestOptions()"
                class="ml"
                mat-raised-button
                color="primary">
                Back
            </button>
            <div class="top-margin">
                <h1>Harvesting: {{singlePlant.plant | titlecase}}</h1>
            </div>
            
            <div>

                <!-- TODO: make this a templlate driven form with validation -->

                <!-- Quantity-->
                <div class="form-group">
                    <label for="quantity-numb">Amount Harvested</label>
                    <input 
                        type="number"
                        min="0"
                        step="1"
                        class="form-control ng-untouched ng-pristine ng-valid" 
                        id="quantity-numb"
                        required
                        [(ngModel)]="quantity"
                        placeholder="{{singlePlant.perFoot}}"
                        name="quantity-numb">
                </div>

                <!-- Last harvest true/false -->
                
                <div class="form-group" *ngIf="singlePlant.multiHarvest" >
                    <label for="lastHarv">Last Harvest of this plant</label>
                    <select 
                        class="form-control ng-untouched ng-pristine ng-valid"  
                        id="lastHarvest-name"
                        required
                        [(ngModel)]="lastHarvest" 
                        name="lastHarvest-name">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
                

                <!-- Star rating -->
                <!-- TODO: margin-top, center-->

                <div class="center">
                    <h2>Rate Your Crop</h2>
                    <button 
                        mat-icon-button color="accent" 
                        *ngFor="let r of ratingArr; index as i"
                        (click)="starClick(i)">
                        <mat-icon>
                            {{ returnStar(i) }}
                        </mat-icon>
                    </button>
                </div>

                <form class="input-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Leave an optional note</mat-label>
                        <textarea 
                            matInput 
                            placeholder="Ex. Needed more fertilizer..."
                            [(ngModel)]="harvestNotes"
                            name="harvestNotes">
                        </textarea>
                      </mat-form-field>
                </form>

                <div>
                    Harvest notes: {{harvestNotes}}
                </div>

                
            </div>
        </div>
    </mat-dialog-content>
    
    
    
</div>


<mat-dialog-actions>

    <!-- Displays in normal state-->
    <div *ngIf="!editPlant && !harvestPlantBool" class="text-center">
        <button 
            class="ml" 
            mat-raised-button 
            color="warn" 
            (click)="closeInfo()" 
            (click)="saveNewDate()" 
            (click)="saveNewGrowthModifier()">
            Close
        </button>
    </div>

    <!-- Displays in Edit state -->
    <!-- BUG: can save before selecting a plant to replace with -->
    <div *ngIf="editPlant" class="text-center">
        <button 
            *ngIf="singlePlant.plant"
            class="ml" 
            mat-raised-button 
            color="primary"
            (click)="replacePlant(singlePlant.plant)"
            (click)="closeInfo()">
            Save
        </button>
        <button 
            class="ml" 
            mat-raised-button 
            color="warn"
            (click)="closeInfo()" >
            Cancel
        </button>
    </div>

    <!-- Displays in Harvest state -->


    <div *ngIf="harvestPlantBool" class="harvest-button-parent ">
        <div class="harvest-action" >
            <!-- This one replaces the plant with an empty plot-->
            <button
                *ngIf="lastHarvest"
                class="center"
                (click)="harvestPlant(singlePlant)"
                (click)="replacePlant('empty')"
                (click)="closeInfo()"
                mat-raised-button
                color="accent">
                Harvest and Remove
            </button>

            <!-- This one does not replace the plant with anything-->

            <button
                *ngIf="!lastHarvest"
                class="center"
                (click)="harvestPlant(singlePlant)"
                (click)="closeInfo()"
                mat-raised-button
                color="accent">
                Harvest and Keep Plant
            </button>

            
        </div>
        
    </div>
    
</mat-dialog-actions>



<!--
<button class="ml" 
    mat-raised-button 
    (click)="closeInfo()" 
    (click)="addOneWeek(singlePlant)" 
    color="primary" 
>Not Ready Add a Week</button>
-->

