/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body { 
    height: 100%;
    width: 100%;
 }
body { 
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
    
    /*background image*/
    background: url("./assets/img/farmTable.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*fonts*/
    font-size: medium;
    font-family: 'Work Sans', sans-serif; 

    padding-bottom: 20%;

}

#title {
    font-family: 'Lobster', cursive;
    font-size: 90px;;
    margin-bottom: 1%;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.92);
    border: 3px solid white;
    box-shadow: 0 0 30px black;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 3% 5%;
}

.bold {
    font-weight: bolder;
}

.red {
    color: red;
}