

:host {
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.images img{
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.flex-parent {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 20%;
}

.post-image {
  max-width: 50%;
}

mat-paginator {
  margin-top: 1rem;
}
.centered {
  margin: auto;
}

#new-post {
  margin: 10px;
  padding-bottom: 2%;
}

.top-row {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 5%;
}