
<div class="main-container">

  <div class="text-center">
    <div class="row">
      <div class="col-12" >
          <h1 class="text-center" id="title">Recipes </h1>
          <h1 class="text-center">- not working -</h1>
      </div>
  </div>
  </div>

  <div *ngIf="userIsAuthenticated" id="new-post">
    <button mat-button  (click)="onDelete(post.id)" color="primary">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Recipe</a>
    </button>
  </div>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <!-- List of posts -->
  <mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts" >
      <!-- title -->
      <mat-expansion-panel-header>
        <div>
          {{post.title}} [Created by: {{post.creatorEmail}}]
        </div>
      </mat-expansion-panel-header>


      <!-- uploaded image -->
      <div class="row top-row">
        <div class="images col-4">
          <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <div class="col-8">
          <!-- ingredients -->
          <h2>Ingredients</h2>
          <p>{{post.ingredients}}</p>
        </div>
      </div>

      
      <div class="row bottom-row">
        <!-- directions -->
        <h2>Directions</h2>
        <p>{{post.content}}</p>
      </div>
      

      <!-- action bar -->
      <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <!-- access the id of the post -->
        <a mat-button [routerLink]="['/edit', post.id]" color="primary">EDIT</a>
        <!-- delete post -->
        <button mat-button  (click)="onDelete(post.id)" color="warn">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>





  <!-- pagination -->
  <mat-paginator 
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="posts.length > 0"
  >
  </mat-paginator>




  <p class="info-text mat-body-1" *ngIf="posts.length === 0 && !isLoading">No Posts added yet</p>

  

</div>

