<div class="main-container">

    <div class="row">
        <div class="col-12" >

            <div class="row text-center">
                <div class="col-12">
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>

                </div>
            </div>
            
            <h1 class="text-center" id="title">Welcome</h1>

            <div class="row text-center">
                <div class="col-12">
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                    <mat-icon>spa</mat-icon>
                </div>
            </div>

        </div>
    </div>
    
    <div class="row center">
        <div class="col-lg-3 col-md-12 center">
            <img src="../../assets/img/straightGarden.jpg" alt="Square foot garden">
        </div>
        <div class="col-lg-9 col-md-12 ">
            <h2>How to use this website</h2>
            <p>
                UGG will let you chose how big of an area you want to dedicate to a garden and then you will fill it with the plants you want. 
                You will be instructed to the density to plant and when things might be ready to harvest. 
                You can also see everything you have harvested in app, with the average rating and any notes you have attached.
                You can choose to adjust some advanced settings but those tutorials will come later...
            </p>
            <h3>Steps to using this website</h3>
            <ol>
                <li>Choose the size of your raised bed</li>
                <li>Choose your plants (filter by planting season and plant type ie. vegetable, herb, etc)</li>
                <li>When your plants are ready to harvest, do so on the website to track quality from year to year</li>
                <li>Enjoy your home grown tasty food. And don't forget to share your recipes! </li>
            </ol>
        </div>
    </div>

    <div class="row center">
        <div class="col-xl-6 col-lg-12">
            <h2>How to build a raised bed</h2>
            <p>
                UGG will let you chose how big of an area you want to dedicate to a garden and then you will fill it with the plants you want. 
                You will be instructed to the density to plant and when things might be ready to harvest. 
                You can also see everything you have harvested in app, with the average rating and any notes you have attached.
            </p>
        </div>
        
        <div class="col-xl-6 col-lg-12 center" id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eMQ1G4hTS1w" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
        </div>
        
    </div>
    

    
</div>