.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#video {
    display: flex; /* or inline-flex */
    justify-content: space-around;
}

.center {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
}

img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

