<div class="main-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" id="title">Urban Grid Garden</h1>
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-3 col-md-12 center">
            <img src="../../assets/img/cayenne.jpg" alt="Spicy pepper">
        </div>
        <div class="col-lg-9 col-md-12">
            <h2>Background</h2>
            <p>Urban Grid Gardening(UGG) uses a gardening technique called square foot gardening (SFG). 
                This technique was first popularized by Mel Bartholomew, a retired engineer that saw ineffieciencies in traditional gardening.
                Square foot gardening is simply planting a number of crops inside 1 foot areas in a raised bed. 
                The benefit to this is that more crops can be grown in a smaller area, with less resources, and more importantly, less time pulling weeds.
                This revolutionary new way to garden does take a little more work up front to build raised beds (and good soil) but it pays off 10 fold months into the growing season.
            </p>
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-9 col-md-12 ">
            <h2>Why square foot gardening</h2>
            <p>
                Using SFG, someone can grow more crops in a smaller area, with less resources. You can grow anything that traditional gardeners can grow, but more of it per foot of soil. 
                Obviuosly results will vary wildy but on average raised beds hold water better so less watering is needed. This is a great way for beginers and masters alike. 
                I encourage everyone I meet to give it a try and see what happens. You might be surprised.
            </p>
        </div>
        <div class="col-lg-3 col-md-12 center ">
            <img src="../../assets/img/diagonalGarden.jpg" alt="Square foot garden">
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-3 col-md-12 center hide-when-md">
            <img src="../../assets/img/straightGarden.jpg" alt="Square foot garden">
        </div>
        <div class="col-lg-9 col-md-12 ">
            <h2>How to use this website</h2>
            <p>
                UGG will let you chose how big of an area you want to dedicate to a garden and then you will fill it with the plants you want. 
                You will be instructed to the density to plant and when things might be ready to harvest. 
                You can also see everything you have harvested in app, with the average rating and any notes you have attached.
                You can choose to adjust some advanced settings but those tutorials will come later...
            </p>
            <h3>Steps to using this website</h3>
            <ol>
                <li>Choose size of your raised bed</li>
                <li>Choose your plants (filter by planting season and plant type ie. vegetable, herb, etc)</li>
                <li>When your plants are ready to harvest, do so on the website to track quality from year to year</li>
                <li>Enjoy your home grown tasty food. And don't forget to share! </li>
            </ol>
        </div>
    </div>

    <div class="row center margin-top">
        <div class="col-xl-6 col-lg-12 center">
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eMQ1G4hTS1w" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <h2>How to build a raised bed</h2>
            <p>
                UGG will let you chose how big of an area you want to dedicate to a garden and then you will fill it with the plants you want. 
                You will be instructed to the density to plant and when things might be ready to harvest. 
                You can also see everything you have harvested in app, with the average rating and any notes you have attached.
            </p>
            
        </div>
    
    

    
</div>